
header {
    line-height: 1;
    background-size: cover;
    background-repeat: no-repeat;

}

li {
    margin: 0px;
    padding: 5px;
    justify-content: space-between;
    transition: background 0.4s, color 0.2s;
    color: #1c1f16;
    font-size: 8pt;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
}

.language li {
    padding: 5px;
}

h1 {
    font-size: 22pt;
    padding: 5px;
    line-height: 1;
}

h2 {
    font-size: 13pt;
}

h3 {
    font-size: 13pt;
}

h4 {
    font-size: 12pt;
}

h5 {
    font-size: 10pt;
}

.me {
    margin: -10px 0px 0px 20px;
    padding: 30px;
}

.about p {
    font-size: 13pt;
    line-height: 1.5;
}

.gallery_Destinations {
    line-height: 1;
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 240px;
}

.experience_Description {
    min-width: 300px;
}

.item {
    min-width: 100%;
    font-size: 9pt;
    flex-direction: column;
}

.example_Item p {
    font-size: 10pt;
}

.experience_Examples {
    min-width: 200px;
}

.contacts_Item p {
    font-size: 8pt;

}

.skills p {
    max-width: 300px;
    font-size: 7pt;
    pad: 7px;
    box-sizing: border-box;
}

.project p {
    max-width: 300px;
    font-size: 7pt;
}

.hire_me {
    min-width: 36%;
    align-items: flex-start;
}

.contacts {
    margin-top: 0px;
}

.contacts_Item {
    padding: 0px;
    margin: -5px 0px;
}

